/* Style for the body of the HTML  */
body {
    background-color: #F8AD9D;
    margin: auto;

    /* Don't let user select */
    /* Credit:  https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/#:~:text=Using%20user%2Dselect%3Anone%3A,example%20to%20understand%20if%20further.&text=But%20we%20have%20to%20add,and%20internet%20explorer%20or%20edge.*/
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    
}

/* Style for the title of the page */
h1 {
    color: #C66969;
    text-align: center;

    font-size: clamp(3rem, 4vw, 4rem);
}

/* Tic Tac Toe board style */
.board {
    margin: auto;
    background-color: #FFDAB9;
    padding: 1rem;
    width: clamp(325px, 4vw, 400px);

    border: 1px solid #FDCFB2;
    border-radius: 2rem;
}

.board h2 {
    margin: 1rem;
    text-align: center;
    color: #C66969;
}

/* The tic tac toe playing board */
.grid {
    display: inline-flex;
    width: clamp(100px, 5vw, 200px);
    height: clamp(100px, 5vw, 200px);
    justify-content: center;
    align-items: center;
    border: 1px solid #F8AD9D;

    vertical-align: top;

    color: #B45F5F;

    font-size: clamp(2rem, 4vw, 4rem);
}

/* Hover effect to let player know the tile is playable */
.selected:hover {
    background-color: #fac394;
}

.row {
    margin: 5px;
}