body {
    background-color: #F8AD9D;
    margin: auto;
}

h1 {
    color: #C66969;
    text-align: center;
}

.board {
    margin: auto;
    background-color: #FFDAB9;
    padding: 1rem;
    width: clamp(325px, 4vw, 400px);

    border: 1px solid #FDCFB2;
    border-radius: 2rem;
}

.grid {
    display: inline-flex;
    width: clamp(100px, 5vw, 200px);
    height: clamp(100px, 5vw, 200px);
    justify-content: center;
    align-items: center;
    border: 1px solid #F8AD9D;

    color: #B45F5F;
}

.row {
    margin: 5px;
}